extends layout

block content
  .add-section
    h2 About Us
  .about-banner
    p Downtown Donuts is a small, family-owned donut and coffee shop that’s been serving the downtown community since 1992. 
    p Located at the very heart of downtown, we offer iced and cold versions of the most popular coffee drinks such as americano, 
    p hand brewed pourovers, lattes, in-housed grinded freshly brewed drip coffee, cold brew, and some seasonal specials as oreo 
    p frappuccino. Our donuts will satisfy the crave for any flavor from chocolate to fresh locally sourced berry one. We always 
    p have something new on our menu and are happy to recommend! Come visit us today! 
  .content-row
    img(src="/Coffee1.jpg" alt="Coffee bar")
    img(src="/CozyCafe.jpg" alt="Sitting area")
    img(src="/CoffeeCups.jpg" alt="Coffee cups on a table")

