extends layout

block content
  .add-section 
    h2 Welcome to Downtown Donuts!
  .home-center
    img(src="/homePage.png" alt="homePage")
  .content-row
    .home-banner
      h3 Order online on
      .links
        a(href = "https://www.ubereats.com/?srsltid=AfmBOorbnoS6Wb8ze5hsZLjHkDGpQyw2eqAOzm3l3wKjKIgvUQUDmyx1") UberEats
      h3 or 
      .links
        a(href = "https://www.doordash.com/?ignore_splash_experience=true&gclsrc=aw.ds&&utm_source=Google&utm_medium=SEMb&utm_campaign=CX_US_SE_SB_GO_ACQ_TETXXX_9256288225_RSTRNT_+BR_ACQ_INMKT_GenDeliveryxx_EVG_CPAx_EPX_COUSA_EN_EN_X_DOOR_GO_SE_TXT_XXXXXXXXXX&utm_term=doordash&utm_content=176836934629&kclickid=_k_CjwKCAjwwdbPBhBgEiwAxBRA4bIb3IAtoNZOu8jdmwBOG--X8Re-hydX0B4fpaCXYBChi6pywIgDeRoCBDQQAvD_BwE_k_&utm_adgroup_id=176836934629&utm_creative_id=742508394381&utm_keyword_id=kwd-63454401416&gad_source=1&gad_campaignid=9256288225&gclid=CjwKCAjwwdbPBhBgEiwAxBRA4bIb3IAtoNZOu8jdmwBOG--X8Re-hydX0B4fpaCXYBChi6pywIgDeRoCBDQQAvD_BwE") DoorDash
    .home-banner
      .hours
        h3 Hours 
      h3 Monday — Saturday
      h4 7:00am — 5:00pm
      h3 Sunday
      h4 7:00am — 2:00pm  
  h3 Find us in Downtown Boise