doctype html
html
  head
    title= Title 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
    a(href = "index.html") Home Page 
    a(href = "menu.html") Menu 
    a(href = "about.html") About Us
    a(href = "reviews.html") Reviews
    .container
      block content