doctype html
html
  head
    title= Title 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
    a(href="/") Home Page 
    a(href="/menu") Menu 
    a(href="/about") About Us
    a(href="/reviews") Reviews
      block content